.main {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}

.login1 {
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

.para1 {
  margin-top: 30px;
  margin-left: -100px;
  font-size: 22px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.email-div {
  margin-left: -20px;
  height: 50px;
  width: 300px;
  background-color: #e8e8e8;
  border-radius: 4px;
}

.email-name {
  width: 50px;
  /* background-color: yellow; */
  height: 20px;
}

.email-name p {
  font-size: 14px;
  margin: 0;
  color: #707070;
}

.email {
  margin-top: 5px;
  width: 190px;
  height: 20px;
  /* background-color: yellow; */
}

.email p {
  margin: 0;
  font-size: 14px;
  margin-left: -10px;
  color: #707070;
}

.pass-div {
  margin-top: 15px;
  margin-left: -20px;
  height: 50px;
  width: 300px;
  /* color: #e8e8e8; */
  border: 1px solid #c8c6c6;
  border-radius: 4px;
}
.password-name {
  /* margin-left: 5px; */
  width: 50px;
  /* background-color: yellow; */
  height: 20px;
}

.password-name p {
  font-size: 14px;
  margin: 0 0 0 6px;
  color: #707070;
}

.password {
  margin-top: 5px;
  width: 290px;
  height: 20px;
  /* background-color: yellow; */
}

.password input {
  margin: 0 0 0 0;
  width: 270px;
  height: 15px;
  border: none;
}

input[type="password"]:focus {
  outline: none; /* oranges! yey */
}

.forgot-pass {
  height: 20px;
  width: 230px;
  /* background-color: yellow; */
  margin-left: -70px;
}

.forgot-pass p {
  margin: 2px 0 0 -130px;
  font-size: 12px;
  color: #22afcc;
}

.button {
  margin: 90px 0 0 -15px;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  background-color: #40ae47;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-link {
  margin: 16px 0 0 -40px;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
  letter-spacing: 0.9px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-link a:link,
.signup-link a:visited {
  color: #22afcc;
  background-color: transparent;
  text-decoration: none;
}

.cross-icon {
  margin: 40px 0 0 -520px;
}
